<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Online Store</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>

    </script>   
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="{% url 'login' %}">Inicia Sesion o Registrate</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<body>
    
    <header>
        <head>
            <title>Carousel/Slideshow</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          
          </head>
          <body>
          
          <div class="container">
            <br>
            <div id="theCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicadores -->
              <ol class="carousel-indicators">
                <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#theCarousel" data-slide-to="1"></li>
                <li data-target="#theCarousel" data-slide-to="2"></li>
                <li data-target="#theCarousel" data-slide-to="3"></li>
                
              </ol>
          
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static 'img/3.jpg' %}" alt="Ilustracion" width="600" height="424"> 
                   <div class="carousel-caption d-none d-md-block">
              <h3>Diseña</h3>
              <p>Exposición</p>
            </div>
                </div>
          
               
              
                <div class="item">
                  <img src="{% static 'img/5.jpg' %}" alt="fotografia" width="600" height="424"> 
                   <div class="carousel-caption d-none d-md-block">
              <h3>Crea</h3>
              <p>Diversion</p>
            </div>
                </div>
          
               <div class="item">
                  <img src="{% static 'img/logo.png' %}" alt="pintura" width="600" height="700">
                   <div class="carousel-caption d-none d-md-block">
              <h3>Pinta</h3>
              <p>Rie</p>
            </div>
                </div>
                 <div class="item">
                  <img src="{% static 'img/6.jpg' %}" alt="diseno" width="600" height="424"> 
                   <div class="carousel-caption d-none d-md-block">
              <h3>Diviertete</h3>
              <p>Piensa</p>
            </div>
                </div>
          
          
              <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">anterior</span>
              </a>
              <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">siguiente</span>
              </a>
            </div>
          </div>
          
          </body>
    

  
    <!-- <div id="cart">
         Productos en el carrito    
    </div> -->
    <script src="{% static 'js/app.js' %}"></script>
</header>
</body>
</html>
