<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login_6.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<form id="loginForm">
    <div class="cont">
        <div class="form sign-in">
            <h2>Sign In</h2>
            <label>
                <span>Username</span>
                <input type="text" id="username" required>
            </label>
            <label>
                <span>Password</span>
                <input type="password" id="password" required>
            </label>
            <button class="submit" type="submit" onclick="signIn()">Sign In</button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h1>New here?</h1>
                    <p>sign up and discover</p>
                </div>
                <div class="img-text m-in">
                    <h1>One of us?</h1>
                    <p>just sign in</p>
                </div>
                <div class="img-btn">
                    <span class="m-up" onclick="showSignUpForm()">Sign Up</span>
                    <span class="m-in" onclick="showSignInForm()">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Sign Up</h2>
                <label>
                    <span>Name</span>
                    <input type="text" id="signUpName">
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" id="signUpEmail">
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" id="signUpPassword">
                </label>
                <label>
                    <span>Confirm Password</span>
                    <input type="password" id="confirmPassword">
                </label>
                <button type="button" class="submit" onclick="signUp()">Sign Up Now</button>
            </div>
        </div>
    </div>
</form>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/login_6.js' %}"></script>
    <script>
        // Definir un objeto para almacenar usuarios registrados
        var usuariosRegistrados = {};

        // Función para registrar un nuevo usuario
        function signUp() {
            var username = document.getElementById("signUpName").value;
            var email = document.getElementById("signUpEmail").value;
            var password = document.getElementById("signUpPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (username && email && password && confirmPassword) {
                if (password === confirmPassword) {
                    usuariosRegistrados[username] = {
                        email: email,
                        password: password
                    };
                    alert("Usuario registrado con éxito");
                    showSignInForm();
                    clearForm();
                } else {
                    alert("Las contraseñas no coinciden");
                }
            } else {
                alert("Por favor, complete todos los campos");
            }
        }

        // Función para iniciar sesión
        function signIn() {
            var username = document.getElementById("signInUsername").value;
            var password = document.getElementById("signInPassword").value;

            if (usuariosRegistrados[username] && usuariosRegistrados[username].password === password) {
                alert("Inicio de sesión exitoso");
                clearForm();
                showSignInForm();
                window.location.href ='portal';
            } else {
                alert("Nombre de usuario o contraseña incorrectos");
            }
        }

        // Función para limpiar los campos del formulario
        function clearForm() {
            document.getElementById("signInUsername").value = "";
            document.getElementById("signInPassword").value = "";
            document.getElementById("signUpName").value = "";
            document.getElementById("signUpEmail").value = "";
            document.getElementById("signUpPassword").value = "";
            document.getElementById("confirmPassword").value = "";
        }

        // Función para mostrar el formulario de registro
        function showSignUpForm() {
            document.querySelector(".cont").classList.add("sign-up-mode");
        }

        // Función para mostrar el formulario de inicio de sesión
        function showSignInForm() {
            document.querySelector(".cont").classList.remove("sign-up-mode");
        }
    </script>
</body>
</html>