<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,
						initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet"href="static/css/login_6.css">
	<link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

	<form id="loginForm">
		<div class="cont">	
		<div class="form sign-in" >
		  <h2>Sign In</h2>
		  <label>
			<span>Username</span>
			<input type="text" id="username"  required>
		  </label>
		  <label>
			<span>Password</span>
			<input type="password" id="password"  required>
		  </label>
		  <button class="submit" type="submit">Sign In</button>
		 
	
		  
		</div>
		<form id="regisForm">
		<div class="sub-cont">
		  <div class="img">
			<div class="img-text m-up">
			  <h1>New here?</h1>
			  <p>sign up and discover</p>
			</div>
			<div class="img-text m-in">
			  <h1>One of us?</h1>
			  <p>just sign in</p>
			</div>
			<div class="img-btn">
			  <span class="m-up">Sign Up</span>
			  <span class="m-in">Sign In</span>
			</div>
		  </div>
		  <div class="form sign-up">
			<h2>Sign Up</h2>
			<label>
			  <span>Name</span>
			  <input type="text" id="name">
			</label>
			<label>
			  <span>Email</span>
			  <input type="email" id="email">
			</label>
			<label>
			  <span>Password</span>
			  <input type="password" id="password1">
			</label>
			<label>
			  <span>Confirm Password</span>
			  <input type="password" id="ConPassword">
			</label>
			<button type="button" class="submit">Sign Up Now</button>
		  </div>
		</div>
	  </div>
	</form>
	<script src="static/js/login_6.js"></script>
	<script src="static/js/app.js"></script>
</body>
</html>

