<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon">
  <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  
  <div class="topnav" id="myTopnav">
    <a href="{% url 'login' %}">Volver al login</a>
    <a href="{% url 'inicio' %}">Volver al Inicio</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <h1 class="text-light"><a href="" class="d-flex flex-column justify-content-center align-items-center">Online Store</a></h1>
        <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid rounded-circle">
      </div>


    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portafolio</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div >numero total productos : {{ n_prod }}</div>
            <div class="centering">
              <ul>
                {% for prod in lista_p %}
                <li>
                  {{prod.descripcion_prod}}
                  {{prod.valor}}
                  <a href= "detalle/{{ prod.id }}">ver detalle</a>
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>
          <section class="products">
     
            <div class="product">
                <img src="{% static 'img/12.jpg' %}" style="border: 5px solid darkblue;
                height: 150px;
                width: 150px;">
                <h3 data-product-name="ProductName">Camisetas</h3>
                <p data-product-price="29.99">$50.000</p>
               
            </div>
            <div class="product">
                <img src="{% static 'img/13.jpg' %}" style="border: 5px solid rgb(249, 9, 149);
                height: 150px;
                width: 150px;">
                <h3 data-product-name="ProductName">Camisetas</h3>
                <p data-product-price="29.99">$50.000</p>
               
            </div>
            <div class="product">
                <img src="{% static 'img/14.webp' %}" style="border: 5px solid rgb(27, 177, 3);
                height: 150px;
                width: 150px;">
                <h3 data-product-name="ProductName">Camisetas</h3>
                <p data-product-price="29.99">$50.000</p>
              
            </div>
          
        </section>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Nuestra informacion</h3>
              <ul>
                <li><strong>Categoria</strong>: Diseño camisetas</li>
                <li><strong>Fecha</strong>: 01 Marzo, 2020</li>
                <li><strong>Email</strong>: westampit@gmail.com</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Bienvenido...</h2>
              <p>Tu puedes... <span class="typed" data-typed-items="Diseñar, Crear, Dibujar, Fotografiar"></span></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
      <div class="social-links mt-3 text-center">
      <a href="https://twitter.com/?lang=es" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/?locale=es_LA" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.google.com/?hl=es" class="google"><i class="bx bxl-skype"></i></a>
      <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Ffeed%2F&trk=login_reg_redirect" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      <a href="https://web.whatsapp.com/" class="whatsApp"><i class="bi bi-whatsapp"></i></a>
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/login_6.js' %}"></script>

</body>

</html>