<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Online Store</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>

    </script>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="{% url 'login' %}" class="active">Inicio</a>
  <a href="#">Crear</a>
  <a href="#">Actualizar</a>
  <a href="#">Eliminar</a>
  <a href="#">Consultar</a>
  <a href="inicio.html">Salir</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<body>
    
    <header>
<div>
    <h3>Bienvenido</h3>
    
</div>
    </header>

    <section class="products">
     
        <div class="product">
            <img src="{% static 'img/camisa.avif' %}" style="border: 5px solid darkblue;
            height: 150px;
            width: 150px;">
            <h3 data-product-name="ProductName">Camisetas</h3>
            <p data-product-price="29.99">$50.000</p>
           
        </div>
        <div class="product">
            <img src="{% static 'img/1.jpg' %}" style="border: 5px solid rgb(249, 9, 149);
            height: 150px;
            width: 150px;">
            <h3 data-product-name="ProductName">Camisetas</h3>
            <p data-product-price="29.99">$50.000</p>
           
        </div>
        <div class="product">
            <img src="{% static 'img/2.jpg' %}" style="border: 5px solid rgb(27, 177, 3);
            height: 150px;
            width: 150px;">
            <h3 data-product-name="ProductName">Camisetas</h3>
            <p data-product-price="29.99">$50.000</p>
          
        </div>
      
    </section>

    <!-- <div id="cart">
         Productos en el carrito    
    </div> -->
    <footer class="text-center footer-style">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <h3>Contactános</h3>
                    <p>
                         Medellin - Colombia <br />
                    </p>
                </div>
                <div class="col-md-4 footer-col">
                    <h3>Nuestras redes</h3>
                    <ul class="list-inline">
                        <li>
                            <a  target="_blank" href="https://www.facebook.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            <a  target="_blank" href="https://www.google.com/?hl=es" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            <a  target="_blank" href="https://twitter.com/?lang=es" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            <a  target="_blank" href="https://linkedin.com" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-col">
                    <h3>LA CAMISA “WE STAMP IT”</h3>
                    <p>Hoy voy a hacer algo solo por diversión. Voy a encontrar algo para hacer que sea sólo para mí y no me preocuparé por lo que debería estar haciendo. 
                    <br>Voy a aprender a hacerme sentir bien y disfrutar de la vida al máximo. Melody Beattie</p>
                    <p>© Copyright 2023 HTML</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>

