<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Aplicación</title>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href={% url 'home' %}>Mi Proyecto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href={% url 'home' %}>Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'products' %}>Productos</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'logout' %}>Salir</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'login' %}>Ingresar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href={% url 'register' %}>Registrarse</a>
                    </li>

                {% endif %}

              </ul>
            </div>
          </div>
        </nav>


        <h2>Inicio</h2>
        
   
    {% block content %}{% endblock %}
  <div>
    <img src="../core/uml.jpeg" alt= "UML" height="51" width="21">
  </div>   
</div>

    
</body>
</html>