{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <hr>
    <h4>
        {{ user.username | upper }}, bienvenido
        
    </h4>
    
{% endif %}



{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Store</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>

    </script>
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
</body>
</html>